<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperCar - Admin</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/datepicker3.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <!--Custom Font-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>

    <![endif]-->
    <style>* {box-sizing: border-box}

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px ;
        border-radius:15px ;
        cursor: pointer;
        opacity: 0.9;
        height: 45px;
    }

    button:hover {
        opacity:1;
    }

    /* Float cancel and delete buttons and add an equal width */
    .cancelbtn, .deletebtn {
        float: left;
        width: 45%;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        width: 72%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        padding-top: 50px;
        text-align: center;
        margin: auto;

    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and delete button on extra small screens */
    @media screen and (max-width: 300px) {
        .cancelbtn, .deletebtn {
            width: 200px;
        }
    }</style>
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>SuperCar</span>Admin</a>
            <ul class="nav navbar-top-links navbar-right">
                <p class="navbar-brand" th:text= "${session.UserName}"></p>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="https://cdn.24h.com.vn/upload/4-2020/images/2020-11-07/Lamborghini-Aventador-5-1604738404-687-width660height517.jpg" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">Admin</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/admin/dashborad"><i class="fa fa-dashboard">&nbsp;</i> Dashboard</a></li>
        <li ><a href="/listAdmin"><em class="fa fa-user">&nbsp;</em> Admin</a></li>
        <li><a href="/user"><em class="fa fa-users">&nbsp;</em> User</a></li>
        <li><a href="/category"><em class="fa fa-bar-chart-o">&nbsp;</em>Category</a></li>
        <li class="active"><a href="/brand"><em class="fa fa-braille">&nbsp;</em>Brand</a></li>
        <li><a href="/product"><em class="fa fa-list-ul">&nbsp;</em>Product</a></li>
        <li><a href="/order"><em class="fa fa-shopping-cart">&nbsp;</em> Order</a></li>
        <li><a href="/feedback"><em class="fa fa-comment">&nbsp;</em> FeedBack</a></li>
        <li><a href="/homepage"><em class="fa fa-home">&nbsp;</em> HomePage</a></li>
        <li><a onclick="document.getElementById('id01').style.display='block'"><em class="fa fa-power-off" ></em> Logout</a></li>
    </ul>
</div><!--/.sidebar-->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
        <div class="container">
            <h1>Logout Account ?</h1>
            <p>Are you sure you want to logout your account ?</p>
            <div class="clearfix">
                <button type="button" class="cancelbtn btn btn-warning" style="margin-bottom: 10px;"><a href="/brand" style="color: black">Cancel</a></button>&nbsp;
                <button type="button" class="deletebtn btn btn-danger" style="margin-bottom: 10px;"><a href="/admin" style="color: white">Yes</a></button>
            </div>
        </div>
    </form>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Brand</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Brand</h1>
        </div>
    </div><!--/.row-->

    <div class="panel panel-container">
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${r}" class="alert alert-danger text-center">
            [[${r}]]
        </div>
        <div class="row mt-2 mb-2">
            <div class="col">
                <form th:action="@{/brand/page/1}"style="margin: auto;text-align: center">
                    <div class="form-inline float-left">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="brandName" id="brandName"
                               aria-describedby="helpId" placeholder="name" required th:value="${brandName}"/>
                        <button class="btn btn-outline-primary"><i class="fas fa-search"></i>
                        </button>

                    </div>
                </form>
                <button type="button" class="btn btn-primary" style="margin-left: 50px;"th:if="${session.UserName}!=null"><a href="/brand/new"
                                                                                            style="color: white;"><i
                        class="fas fa-plus"></i>AddNew</a></button>

            </div>

        </div>
        <br/>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Brand</th>
                <th>Logo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="brand : ${lists}">
                <tr>
                    <td>[[${brand.brandName}]]</td>
                    <td><img th:src="@{'/imagess/category/'+${brand.logo}}" height="150" width="200"/></td>
                    <td th:if="${session.UserName}!=null">
                        <button type="button" class="btn btn-success"><a th:href="@{'/brand/details/'+${brand.brandName}+'/'+1}"><i class="fas fa-list-ul"style="color: white;"></i></a></button>

                        <button type="button" class="btn btn-warning"><a th:href="@{'/brand/edit/'+${brand.brandId}}"><i class="fas fa-pencil-alt"
                                                                                      style="color: white;"></i></a>
                        </button>
                        <button type="button" class="btn btn-danger"><a th:href="@{'/brand/delete/' +${brand.brandId}+'/'+${brand.brandName}}"><i class="far fa-trash-alt"
                                                                                         style="color: white;"></i></a>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>


        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{'/brand/page/'+ 1}" tabindex="-1">First</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1,totalPage)}">
                    <a th:if="${i !=currentPage}" th:href="@{'/brand/page/'+${i}}+${brandName !=null ? '?brandName='+brandName:''}">[[${i}]]</a>
                    <span style="background-color: #5bc0de" th:unless="${i !=currentPage }">[[${i}]]</span>
                </li>
                <li class="page-item">
                    <a th:if="${currentPage < totalPage}" class="page-link" th:href="@{'/brand/page/'+ ${totalPage}}+${brandName !=null ? '?brandName='+brandName:''}">Last</a>
                    <span style="background-color: #5bc0de" th:unless="${currentPage < totalPage}">Last</span>
                </li>
            </ul>
        </nav>
    </div>



</div>	<!--/.main-->

<script th:src="@{js/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/chart.min.js}"></script>
<script th:src="@{js/chart-data.js}"></script>
<script th:src="@{js/easypiechart.js}"></script>
<script th:src="@{js/easypiechart-data.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<script th:src="@{js/custom.js}"></script>
<script>
    window.onload = function () {
        var chart1 = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(chart1).Line(lineChartData, {
            responsive: true,
            scaleLineColor: "rgba(0,0,0,.2)",
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleFontColor: "#c5c7cc"
        });
    };
</script>

</body>
</html>