<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="footer">
    <div class="footer-copyright text-center py-3">
        <div class="row">
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">PROJECTS</a>
                    </li>
                    <li>
                        <a href="contact.php">CONTACT</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Adress</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    </li>
                    <li>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    </li>
                    <li>
                        <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
                <a type="button" class="btn-floating btn-fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="btn-floating btn-tw">
                    <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="btn-floating btn-gplus">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a type="button" class="btn-floating btn-dribbble">
                    <i class="fab fa-dribbble"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
        <a href="#"> SuperCar Online.com</a>
    </div>
</footer >